@model BookCave.Models.ViewModels.CheckoutViewModel

<h1> Thank you for the business! </h1>
<h2> You will resieve a confirmation email before you know it,</h2> <br>
<h2> happy reading and hopefully we will see you soon again @Model.FirstName! </h2>