@model BookCave.Models.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Order Completed!";
}

<h1 id="orderConfirmation"> Order Completed! </h1> <br/>
<h2 class="orderText"> Thank you for your purchase! </h2>
<h2 class="orderText"> You will recieve a confirmation email at @Model.Email </h2>
<h2 class="orderText"> Happy reading and hopefully we will see you again soon @Model.FirstName! </h2>