@{
    ViewData["Title"] = "Account";
}
<!-- If the user goes to <host>/Account page this link pops up -->
<a class="btn btn-failure btn-block" asp-area="" asp-controller="Account" asp-action="Login">Click Here to Login!</a>