@model BookCave.Models.ViewModels.SignUpViewModel


<h1>Sign up!</h1>

<form asp-action="SignUp" asp-controller="Account" class="from-horizontal">
        <div class="form-group">
        <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name.."/>
    </div>
    <div class="form-group">
        <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter username.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Address" class="form-control" placeholder="Enter your address.."/>
    </div>

        <div class="form-group">
        <input type="text" asp-for="City" class="form-control" placeholder="Enter your city.."/>
    </div>

        <div class="form-group">
        <input type="text" asp-for="Country" class="form-control" placeholder="Enter your country.."/>
    </div>

    <div class="form-group">
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter your email.."/>
    </div>

    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter a password.."/>
    </div>
<!--
    <div id="Image-choosing">
        Please choose an avatar that you like! 
        <input type="radio" asp-for="" name="rate" value='1'> <img src="avatar.png" alt="Avatar" class="avatar">
        <input type="radio" asp-for="" name="rate" value='2'> <img src="avatar.png" alt="Avatar" class="avatar">
        <input type="radio" asp-for="" name="rate" value='3'> <img src="avatar.png" alt="Avatar" class="avatar">
        <input type="radio" asp-for="" name="rate" value='3'> <img src="avatar.png" alt="Avatar" class="avatar">
    </div>-->

    <div class="form-group">
        <button type="submit" class="SignUpButton">Create account!</button>
    </div>
</form>
