@model BookCave.Models.ViewModels.SignUpViewModel


<h1>Sign up!</h1>

<form asp-action="SignUp" asp-controller="Account" class="from-horizontal">
        <div class="form-group">
        <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter first name.."/>
    </div>
    <div class="form-group">
        <input type="text" asp-for="LastName" class="form-control" placeholder="Enter last name.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter username.."/>
    </div>

    <div class="form-group">
        <input type="text" asp-for="Address" class="form-control" placeholder="Enter your address.."/>
    </div>

        <div class="form-group">
        <input type="text" asp-for="City" class="form-control" placeholder="Enter your city.."/>
    </div>

        <div class="form-group">
        <input type="text" asp-for="Country" class="form-control" placeholder="Enter your country.."/>
    </div>

    <div class="form-group">
        <input type="email" asp-for="Email" class="form-control" placeholder="Enter your email.."/>
    </div>

    <div class="form-group">
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter a password.."/>
    </div>

    <div id="Image-choosing">
        <p>Please choose an avatar that you like!</p> 
        <label class="avatar">
            <input type="radio" name="image" value="~/images/avatars/captain.png"> <img src="~/images/avatars/captain.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
            <input type="radio" name="image" value="~/images/avatars/detective.png"> <img src="~/images/avatars/detective.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
            <input type="radio" name="image" value="~/images/avatars/nun.png"> <img src="~/images/avatars/nun.png" alt="Avatar" class="avatar">
        </label>
        <label class="avatar">
            <input type="radio" name="image" value="~/images/avatars/waiter.png"> <img src="~/images/avatars/waiter.png" alt="Avatar" class="avatar">
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="SignUpButton">Create account!</button>
    </div>
</form>
