@{
    
}

<h1>About Us</h1>

<!-- Photo of team: --> 
<img id="TeamPicture" src="" alt="TeamPicture">

<!-- Text about team: --> 
<div class="AboutText">
    <h2>Get To Know Us! </h2>
        The company was founded by five computer science students
        that all had one thing in common; being bookworms. 
        All they needed to please their endless love for books was
        a forum that gave them the possibility to buy books safely 
        and effectively online without going through the trouble of 
        leaving the house. As a result, the team gathered and began 
        a project that later was going to evolve to be the biggest
        online bookstore in the world, called The Book Cave. 
        
</div>


<!-- Contact info: --> 
<div id="ContactInfo">
    <h2>How To Contact Us: </h2>
    <p>Mail: <a href = "mailto: info@bookcave.com">info@bookcave.com</a></p>
    <p>Company Phone number: 555-5555</p>
    <p>Address: BookStreet 2</p>
</div>