@{
    ViewData["Title"] = "Home Page";
}

<!-- Text about team: --> 
<div class="AboutText">
    <h2>Get To Know Us! </h2>
        The company was founded by five computer science students
        that all had one thing in common; being bookworms. 
        All they needed to please their endless love for books was
        a forum that gave them the possibility to buy books safely 
        and effectively online without going through the trouble of 
        leaving the house. As a result, the team gathered and began 
        a project that later was going to evolve to be the biggest
        online bookstore in the world, called The Book Cave.   
</div>
<hr>
<!-- Photo of team: --> 
<img src="../../images/dreamTeam.jpg" alt="TeamPicture" id="teamPhoto">
<div class="col-xs-6 col-lg-12">
<div id="individualPhotos">
    <!-- Individual photos and text about each individual -->
    <div>
        <img src="../../images/gudrun.jpg" alt="TeamPicture">
        <p>
            Guðrún Sara Örnólfsdóttir
        </p>
        <p>
            Guðrún used to aspire to become a real bookworm (in the flesh), however 
            when she learned that science had still not developed so far she decided 
            to dedicate her life to her other aspiration, Computer Science. 
        </p>
    </div>
    <div>
        <img src="../../images/hugrun.jpg" alt="TeamPicture">
        <p>
            Hugrún Hannesdóttir
        </p>
        <p>
            20 year old Computer Science student on her first year in Háskólinn
            í Reykjavík. When she isn't working on a booksite she is reading books.
        </p>
    </div>
    <div>
        <img src="../../images/johann.jpg" alt="TeamPicture">
        <p>
            Jóhann Hinrik Jónsson
        </p>
        <p>
            A man that is as loyal to his bookreading as to his mother.
            Jóhann loves taking a break from coding and snuggle up to his favorite
            book for an hour break (or maybe three). 

        </p>
    </div>
    <div>
        <img src="../../images/julia.jpg" alt="TeamPicture">
        <p>
            Júlía Ingadóttir
        </p>
        <p>
            Júlia first discovered her love for books and book reading when she 
            encountered e-books. She had never opened such an oldschool thing as
            a simple book in her life before, and therefor she was starstruck when the e-book 
            landed in her hands. 
        </p>
    </div>
    <div>
        <img src="../../images/natalia.jpg" alt="TeamPicture">
        <p>
            Natalia Lopez Peralta
        </p>
        <p>
            Word is on the streat that Natalia writes books herself in her spare time and
            that the BookCave project was a golden road to successfully advertise her writings.
            Her knowledge in Computer Science and creativity made the road smooth and clear. 
        </p>
    </div>
</div>
</div>