@{
    
}

<!-- Text about team: --> 
<div class="AboutText">
    <h2>Get To Know Us! </h2>
        The company was founded by five computer science students
        that all had one thing in common; being bookworms. 
        All they needed to please their endless love for books was
        a forum that gave them the possibility to buy books safely 
        and effectively online without going through the trouble of 
        leaving the house. As a result, the team gathered and began 
        a project that later was going to evolve to be the biggest
        online bookstore in the world, called The Book Cave.   
</div>
<hr>
<!-- Photo of team: --> 
<img src="../../images/dreamTeam.jpg" alt="TeamPicture" id="teamPhoto">
<div class="col-xs-6 col-lg-12">
<div id="individualPhotos">
    <div>
        <img src="../../images/gudrun.jpg" alt="TeamPicture">
        <p>
            Guðrún Sara Örnólfsdóttir
        </p>
    </div>
    <div>
        <img src="../../images/hugrun.jpg" alt="TeamPicture">
        <p>
            Hugrún Hannesdóttir
        </p>
        <p>
            20 year old computer science student on her first year in Háskólinn
            í Reykjavík. When she isn't working on a booksite she is reading books.
        </p>
    </div>
    <div>
        <img src="../../images/johann.jpg" alt="TeamPicture">
        <p>
            Jóhann Hinrik Jónsson
        </p>
    </div>
    <div>
        <img src="../../images/julia.jpg" alt="TeamPicture">
        <p>
            Júlía Ingadóttir
        </p>
    </div>
    <div>
        <img src="../../images/natalia.jpg" alt="TeamPicture">
        <p>
            Natalia Lopez Peralta
        </p>
    </div>
</div>
</div>