@{
   
}

<form class="form-horizontal">
    <div class="form-group">
        <input autofocus="autofocus" type="text" class="form-control" placeholder="enter your email here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter a Username here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your First Name here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your Last Name here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your Address here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your City here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your Country here..."/>
    </div>
    <div class "form-group">
        <input type="text" class="form-control" placeholder="enter your Password here..."/>
    </div>
</form>