@{
    ViewData["Title"] = "Log in";
}

<div id="LogIn">
  <h1> Log in </h1>
    <form id="LoginForm">
        <fieldset>
            <label for="email-login-input"> Email: </label>
            <input id="email-login-input" type="email" name="loginemail">
            <br/>  

            <label for="password-login-input"> Password: </label>
            <input id="password-login-input" type="password" name="loginpassword">
            <br/>
        </fieldset>
    </form>

<h4>Don't have an account? <button type="button"> Sign up!</button></h2>
