@{
    ViewData["Title"] = "Sign Up";
}


<div id="SignUp">
  <h1> Sign Up </h1>

    <form>
        <fieldset>
            <label for="name-input">Name: </label>
            <input type="text" id="name-input" name="fullname"/>
            <br/>

            <label for="username-input">Username: </label>
            <input type="text" id="username-input" name="username"/>
            <br/>

            <label for="address-input">Address: </label>
            <input type="text" id="address-input" name="fullAddress"/>
            <br/>

            <label for="city-input">City: </label>
            <input type="text" id="city-input" name="city"/>
            <br/>

            <label for="country-input">Country: </label>
            <input type="text" id="country-input" name="country"/>
            <br/>

            <label for="email-input"> Email: </label>
            <input id="email-input" type="email" name="email">
            <br/>  

            <label for="password-input"> Password: </label>
            <input id="password-input" type="password" name="password">
            <br/>

            <label for="confirmpw-input"> Confirm Password: </label>
            <input id="confirmpw-input" type="password" name="confirmationpw">
            <br/>

<!-- SPYRJA INGIBERG!!! Finna betri leið að bæta mynd við þegar maður signar up-->
            <label for="image-input"> Image: </label>
            <input id="image-input" type="text" name="image">
            <br/>

            <label for="favbook-input">Favorite Book: </label>
            <input type ="text" id="favbook-input" name="favbook"/>
        </fieldset>
      <input type ="submit" value="Create Account!"/>
    </form>

    
</div>
