@model List<BookCave.Models.ViewModels.BookListViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2 id="BooksTile">Books</h2>

<!--  Printing all Books
 -->
<div id="BookList"> 

    @foreach(var book in Model)
    {
        <div class="CoverAndInfo">
            /* Book Cover: */
            <div class="BookCover">
                <img src="@book.Cover" alt="BookCover" height="42" width="42">
            </div>

            <!-- Book info  -->
            <div class="BookInfo">
                Genre: book.Genre, 
                Rating: book.Rating, 
                Author: book.Author, 
                Price: book.Price
            </div>
        </div>
    }
</div>
<div id="BookFilter">

</div>


