<!-- GUÐRUN SARA ÖRNOLFSDOTTIR MUNA A AÐ HAFA TAB SIZE 2 I HTML -->
@model List<BookCave.Models.ViewModels.BookViewModel>


<!-- ekki stroka ut her fyrir nedan plz -->
<div>
    @foreach(var author in @Model)
    {
        <p>@author.Name</p>
    }
</div>


@{
    ViewData["Title"] = "Home Page";
}


<h2>Books</h2>

<!-- Printing all Books -->

<div id="BookList"> 
    <ul>
        @foreach(var book in Model)
        {
            <div class="CoverAndInfo">
                <div class="BookCover">

                    <img src="@model.Cover" alt="Smiley face" height="42" width="42">
             </div>
        }
    </ul>
</div>




// login 
// Signup 
// my account
// Cart
// Book
// Top Rated