*
{
    margin: 0px;
    padding: 0px;
}
/* icon */
#icon
{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    background-image: url('../../images/Book.jpg');
}
#icon-div
{
    float: left;
}
#siteName-div
{
    text-align: center;
}

#siteName
{
    width: 400px;
    height: 250;
}
/* Navgation bar */
.fullNavigation
{
    background: #F5F5DC;
}
.navigation-bar ul li
{
   margin-left: 40px;
}
#login
{
    margin-left: 80px;
}
#cart
{
    margin-left: 80px;
}
/* Search bar */
.search-bar
{
    margin-top: 10px;
}
/* Search bar text */
#search-text 
{
    display: inline-block;
    width: 250px;
}